@import "../../../styles/variables";
@import "../../../styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  height: max-content;
  border-radius: 3px;
  padding: 0 30px;
  background-color: $white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);

  input {
    border: none;
    background-color: #eee;
    height: 30px;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  select {
    width: 80px;
    background-color: #eee;
    border: none;
    padding: 7px;
    border-radius: 3px;
    margin: 0 0 10px 10px;
  }

  p {
    margin: 10px 0 0 0;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding: 30px 0 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  color: $primaryColor;
}

.recipeName {
  margin-left: 10px;
}

.quantity {
  width: 80px;
  margin-left: 10px;
}
.instructions {
  max-width: 50%;
  margin-top: 10px;
  background-color: #eee;
  border: none;
}

.ingredients {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px 0;
  position: relative;

  button {
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 10px;
  }
}

.saveBtn {
  margin: 30px auto;
}
